<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
      <img class="logo" src="/assets/images/logo.png" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="loading == true" type="indeterminate"></ion-progress-bar>
  <ion-backdrop *ngIf="loading == true" tappable="false"></ion-backdrop>
  <div class="ion-padding-horizontal" id="container">
    <h4 class="mb-3 mt-3">
      Connexion
    </h4>
    <form>
      <ion-item>
        <ion-input label="Email" labelPlacement="stacked" [(ngModel)]="email" name="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Mot de passe" labelPlacement="stacked" [type]="hidden == true ? 'password' : 'text'"
          [(ngModel)]="password" name="password"></ion-input>
        <ion-icon (click)="hidden = !hidden" size="large" slot="end"
          [name]="hidden == true ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
      </ion-item>
      <div class="mt-5">
        <ion-button (click)="do()" expand="block" color="primary">
          Valider
        </ion-button>
      </div>
      <div class="mt-3">
        <ion-button [routerLink]="['/home']" expand="block" color="primary">
          Retour
        </ion-button>
      </div>
    </form>
    <p class="mt-3 text-center">
      <a color="default" [routerLink]="['/home/pass']">
        Mot de passe oublié
      </a>
    </p>
    <p class="mt-5 text-center">
      Vous n'avez pas de compte ?
      <a [routerLink]="['/home/inscription']">Inscription</a>
    </p>
    <p class="mt-5">
      <app-version></app-version>
    </p>
  </div>
</ion-content>