<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <div class="ion-text-center">
      <img class="logo" src="/assets/images/logo.png" />
    </div>
    <ion-buttons slot="end">
      V<app-ver></app-ver>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="loading == true" type="indeterminate"></ion-progress-bar>
  <div class="pt-3 px-2">
    <h3 *ngIf="box != null">
      Box #{{ box.id }} - {{ box.nom }}
    </h3>
    <div class="mt-4">
      <ion-item>
        <ion-select label="Choisir une action" labelPlacement="floating" interface="popover" [(ngModel)]="action">
          <ion-select-option [value]="actions.actionAjoutTel">
            Ajouter un numéro de téléphone
          </ion-select-option>
          <ion-select-option [value]="actions.actionSuppressionTel">
            Suppression numéro de téléphone
          </ion-select-option>
          <ion-select-option [value]="actions.actionAccess">
            Modifier les acces
          </ion-select-option>
          <!--
          <ion-select-option [value]="actions.actionDuration">
            Modifier durée ouverture
          </ion-select-option>
          -->
          <ion-select-option [value]="actions.actionListeTel">
            Liste des téléphones
          </ion-select-option>
          <ion-select-option [value]="actions.actionSMS">
            SMS ouverture
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="mt-2">
      <ion-button (click)="valide()" expand="block">
        Valider
      </ion-button>
    </div>
    <div *ngIf="device && device.platform != 'web'" style="width:80%" class="mt-4 mx-auto">
      <div id="divlock" style="width:100%;font-size:12px"></div>
    </div>
  </div>
</ion-content>