<ion-header>
  <ion-toolbar>
    <ion-title>
      Votre Profil
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-padding-horizontal" id="container">
    <p>
      Connectez vous pour utiliser votre EasySmartLock
    </p>
    <h1 [routerLink]="['/home/connexion']" class="w100 text-center ion-text-center mt-5 mb-5" color="primary">
      <ion-icon class="mt-2" name="arrow-forward-circle-outline"></ion-icon>
      CONNEXION
    </h1>

    <ion-list class="mb-5">
      <ion-item>
        Vous n'avez pas de compte ?
        <a class="d-inline-block ms-3" [routerLink]="['/home/inscription']">Inscription</a>
      </ion-item>
      <ion-item target="_blank" href="https://bit.ly/ASSISTANTVIRTUELEASYSMARTLOCK">
        <ion-icon slot="end" color="primary" name="help"></ion-icon>
        <ion-label>Obtenez de l'aide</ion-label>
      </ion-item>
      <ion-item target="_blank" href='https://easysmartlock.com/conditions-generales-de-vente/'>
        <ion-icon slot="end" color="primary" name="book"></ion-icon>
        <ion-label>Conditions générales</ion-label>
      </ion-item>
      <ion-item target="_blank" href="https://easysmartlock.com/a-propos/">
        <ion-icon slot="end" color="primary" name="home"></ion-icon>
        <ion-label>En savoir plus sur EasySmartLock</ion-label>
      </ion-item>
    </ion-list>

    <div class="ion-text-center">
      <h4>
        Version <app-ver></app-ver>
      </h4>
    </div>

  </div>
</ion-content>
